<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linjichuan.www.login">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--声明一个activity-->
        <activity android:name=".Login">

           <!--意图过滤器-->
            <intent-filter>
                <!--决定了程序入口且app会被现实在应用列表中-->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />


            </intent-filter>
        </activity>
        <activity android:name=".main"></activity>
        <activity android:name=".releasedate"></activity>
        <activity android:name=".searchinput"></activity>
        <activity android:name=".modify"></activity>
        <activity android:name=".personinformation"></activity>
        <activity android:name="news"></activity>

    </application>

</manifest>